

h1{
    font-weight: 900;
}
.flex-content{
    width: 600px;    
    height: 300px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;

}
.bd{
    width: 600px;    
    height: 300px;
    border: 1px solid red; 
    margin:auto;
}

.flex-item{
    padding: 10px;
    background: green;
    color: #fff;
    border: 1px solid #ddd;
    text-align: center;
}
.column{
    flex-direction: column;
}


.wrap{
    display: flex;
    flex-wrap: wrap;
}
.wrap-reverse{
    display: flex;
    flex-wrap: wrap-reverse;
}


.bdd{
    width: 400px;
}
.flex-start{
    align-items: flex-start;
}
.flex-center{
    align-items: center;
}
.flex-end{
    align-items: flex-end;
}


/* justify-content */
.bddd{
    height: 150px;
    width: 400px;
}
.j-flex-start{
    align-items: flex-start;
    justify-content: flex-start;
}
.j-flex-center{
    align-items: flex-start;
    justify-content: center;
}
.j-flex-end{
    align-items: flex-start;
    justify-content: flex-end;
}
.j-flex-between{
    align-items: flex-start;
    justify-content: space-between;
}
.j-flex-around{
    align-items: flex-start;
    justify-content: space-around;
}
.j-flex-evenly{
    align-items: flex-start;
    justify-content: space-evenly;
}

/* align-content */

.align-conten-start{
    flex-wrap: wrap;
    align-content: flex-start;
}
.align-conten-center{
    flex-wrap: wrap;
    align-content: center;
}
.align-conten-end{
    flex-wrap: wrap;
    align-content: flex-end;
}
.align-conten-stretch{
    flex-wrap: wrap;
    align-content: stretch;
}
.align-conten-between{
    flex-wrap: wrap;
    align-content: space-between;
}
.align-conten-around{
    flex-wrap: wrap;
    align-content: space-around;
}




.menu{
    margin-top: 80px;
}
.dflx{
    width: 1400px;
    margin: auto;
    background: #fafafa;
}
.menu{
    background: green;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    
}
.menu ul li{
 
  
}
.menu ul li a{
    padding: 10px 20px ;
    color: #fff;
    display: block;
    text-decoration: none;
    border-right: 1px solid #ddd;
    
}

/* 3 item */
.row-3-item{
    display: flex;
    flex: 1;
}
.f-i{
    border: 1px solid red;
    text-align: center;
}
/* 2 item */
.row-2-item{
    display: flex;
    margin-top: 30px;
}
.f-i-i{
    border: 1px solid rosybrown;
    flex-basis: 30%;
}
.mm{
    flex-basis: 70%;
}

/* maj khaner item boro */
.row-4{
    margin-top: 20px;
    display: flex;
}
.f-i{
    padding: 10px;
    border: 1px solid rosybrown;
    flex: 1 0 0%;
}
.boro{
    flex-grow: 3;
    background: green;
  
}

/* maj khaner item choto */


  /* vul hoice flex-shrink */
.row-5{
    margin-top: 20px;
    display: flex;
}
.c-item{
    padding: 10px;
    border: 1px solid rosybrown;
   flex: 0 4 0%;
    
}
.choto{
    background: green;
 

  
}
/* center center */
.center{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.small-mid-center{
    background: blue;
    color: #fff;
    padding: 50px;
}

/* flex-container */
.flex-container{
    width: 800px;
    height: 200px;
    background: green;
    margin: 0 auto 100px;
    display: flex;
    
  

   
}
.similar{
    background: #dd1818;
    width: 100px;
    
    margin: 20px;
    color: #fff;
    text-align: center;
    line-height: 83px;
    font-size: 30px;
   
}
.div-2{
    align-self: center;
}
